@media (min-width: 740px) and (max-width: 1023) {
    #header .search-btn{
        

    }
}   
/* mobile */
@media (max-width: 740px) {
    #header #mobile-menu{
        display: block;
    }
    #nav > li {
        display: block;
    }

    #header .search-btn{
        display: none;
    }
  #nav > li:first-child{
    display: inline-block;
  }
  #header{
    overflow: hidden;
  }
  #nav .subnav{
    position: relative;
    background-color: #333;
    padding: 5px 7px;

  }
  #nav .subnav a{
    color: #fff;

  }
  .col-third {
    margin-bottom: 10px;
    width: 100%;
}  
#content .member-img {
    width: 50%;
} 
.s-full-width,
.s-col-full {
    width: 100% !important;
}
.contact-info{
    margin-bottom: 15px;
}
.s-mt-8{
    margin-top: 8px !important;
}
}